/*↓ヘッダー、フッター固定*/
body{
 margin: 0;
 padding: 170px 0 50px 0;
 overflow-x: hidden;
}

* html body{
 overflow: hidden;
}
div#headerArea {
 position: fixed !important;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 150px;
 background-color: #ebebeb;
 color: #fff;
 box-shadow: 0px -4px 3px -3px rgba(0,0,0,0.4) inset;
 z-index: 990;
 padding-top: 0px;
}
.title{/*ロゴ*/
 position: absolute;
 top: -2px;
 left: 3%;
 font-size: 50px;
 text-shadow: 1px 1px 0px #000000,
 -1px 1px 0px #000000,
 1px -1px 0px #000000,
 -1px -1px 0px #000000;
}


ul,
li {
 margin: 0;
 padding: 0;
 list-style: none;
}
ul {
 margin-bottom: 20px;
}
li div {
 position: relative;
 max-width: 80%;
 left:10%;
 width: 100%;
 padding-right: 44px;
 box-sizing: border-box;
 white-space: pre-line;
 word-break: break-all;
}
.message{
 position: relative;
 max-width: 80%;
 left:10%;
 width: 100%;
 padding-right: 44px;
 box-sizing: border-box;
 white-space: pre-line;
 word-break: break-all;
}
li button {
 position: absolute;
 top: 1px;
 right: 0;
}
.input{
 position: relative;
 max-width: 80%;
 left:10%;
 width: 100%;
 padding-right: 44px;
 box-sizing: border-box;
}
input.textin{
 width:80%;
}
.input{
 margin-top:85px;
 margin-left:40px;
}
input.toggle{}

span.done {
 text-decoration: line-through;
 color: #bbb;
}

