<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>ToDo</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <div id="headerArea">
        <div class="title">

            ToDo
            <span class="info">({{ todos.length }})</span>
        </div>
        <div class="input">
        <input type="text" class="textin" v-model="input"  v-on:keyup.enter="addTodo(input)">
        <button type="button" v-on:click="addTodo" class="btn btn-info">送信</button>
        </div>
    </div>
    <ul>
        <hr>
        <li class="message" v-show="!todos.length">You are free!</li>
        <li v-for="(todo, index) in todos" >
            <todo-item   v-bind:todo="todo"  v-on:remove= "todos.splice(index, 1)"  ></todo-item>
            <hr>
        </li>
    </ul>
</div>
<script src="js/main.js"></script>
</body>
